{% extends 'base.html' %}
{% block content %}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>MyPythBank</h3>
                </div>
                <div class="card-body">
                    <img src="https://i.pinimg.com/originals/8f/a4/c1/8fa4c1a81470155ff9933bd5cfe37b86.jpg" width="150" height="150"/>
                    <p>El banco más efectivo del país</p>
                    <div class="form-group">
                        <a href="/login" class="btn btn-success btn-block">Iniciar sesión</a>
                    </div>
                    </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}