{% extends 'base.html' %}
{% block content %}
{% if success %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{success}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% if failure %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{failure}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Iniciar sesión</h3>
                </div>
                <div class="card-body">
                    <form action="/login/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" placeholder='Nombre de usuario' class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder='Contraseña' class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">Iniciar sesión</button>
                    </div>
                    <div class="form-group">
                        <a href="/" class="btn btn-danger btn-block">Atrás</a>
                    </div>
                    </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}